* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #e0e0e0;
    color: #333;
    padding: 20px;
}
span{
    color: #34495e;
    font-weight: bold;
}
.container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.left-column, .right-column {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.left-column {
    flex: 1;
    max-width: 30%;
}

.right-column {
    flex: 2;
    max-width: 65%;
}


.header-content {
    display: flex;
    flex-direction: column; /* Cambiar a columna en móviles */
    align-items: center; /* Centra los títulos y la imagen */
    gap: 10px; /* Espacio entre títulos e imagen */
}

 section {
    text-align: center;
}
header {
    display: flex;
    flex-direction: column; /* Cambia a columna en móviles */
    align-items: center; /* Centra el contenido */
    margin-bottom: 20px; /* Espacio debajo del header */
}
header .titles {
        display: flex;
        flex-direction: column;
        align-items: center;  /* Centra los títulos horizontalmente */
        text-align: center;   /* Centra el texto */
        justify-content: center; /* Alinea verticalmente en caso de ser necesario */
        width: 100%; /* Asegura que el contenedor ocupe todo el espacio disponible */
    }
    
    h1, h2 {
        margin: 0 auto; /* Asegura que no haya margen lateral */
    }
    
header img {
    width: 150px;
    height: 150px;
    border-radius: 50%;  /* Hace la imagen completamente circular */
    object-fit: cover;
}

section {
    margin-bottom: 30px;
    padding-bottom: 10px;
    border-bottom: 2px solid #ccc; /* Línea debajo de cada sección */
}


h1 {
    font-size: 2.5em;
    color: #34495e;
    margin-bottom: 10px;
}

h2 {
    font-size: 1.8em;
    color: #34495e;
    margin-bottom: 10px;
}

h3 {
    font-size: 1.5em;
    color: #34495e;
;
    margin-bottom: 5px;
}

p, ul {
    font-size: 1.1em;
    color: #7f8c8d;
    margin-bottom: 15px;
}

ul {
    list-style: none;
}

ul li {
    margin-bottom: 5px;
    padding-left: 15px;
    position: relative;
}

ul li:before {
    content: "•";
    color: #2980b9;
    position: absolute;
    left: 0;
}

a {
    color: #2980b9;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Estilo mejorado para el botón de descarga */
.button-container {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

#download-pdf {
    background-color: #3498db;
    color: #fff;
    padding: 15px 30px;
    font-size: 1.2em;
    border: none;
    border-radius: 50px;  /* Aumentar el radio de borde para un look más suave */
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, transform 0.3s ease;
    text-align: center; /* Asegura que el texto esté centrado */
}

#download-pdf:hover {
    background-color: #2980b9;
    transform: translateY(-3px);
}

#download-pdf:active {
    transform: translateY(1px);
}

#download-pdf a {
    color: #fff;  /* Cambia el color del texto a blanco */
    text-decoration: none;  /* Elimina el subrayado del texto */
}

#download-pdf a:hover {
    text-decoration: none; /* Mantiene el botón sin subrayado al hacer hover */
}
@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }
 h1 { 
        color: #34495e;
    }
    
    h2 {
        color: #34495e;  
    }
    
    h3 {
            color: #34495e;
;
    }
    .left-column, .right-column {
        max-width: 100%;
        padding: 10px;
    }

    .right-column {
        display: flex;
        flex-direction: column;
    }

    header {
        order: 0; /* Asegura que el header esté primero */
        width: 100%; /* Asegura que ocupe todo el ancho */
    }

    .right-column{
        order:1;
    }
    .left-column{
        order:2;
    }
}
